.vscode/**
models/**
data
**/test/**
**/.vscode
**/__pycache__
__pycache__/**
data/**
.DS_Store
./models/**
Pipfile.lock
datasets.pyc
results.json
runs/**
./models/**
**/runs
**/home
**/*tmp*/**
**/venv/**
**/.venv/**
**/*.lock
spectrogram.png
*.log
**/src/**/*.png
**/src/**/*.wav
get_best*.sh
generated_data/**
**/.ipynb_checkpoints/*
models/**
checkpoint/
